:root {
  --dark-color1: #111111;
  --dark-color2: #232323;
  --dark-color3: #343434;
  --dark-color4: #212529;
}

.bg-dark-1,
body,
.sticky-header.fixed-header,
.page-wrapper,
.main-header .info-btn,
.header-style-three .main-box,
.header-style-four .main-box .logo-box,
.about-section,
.project-block .inner-box .content-box,
.pricing-section,
.faqs-section:before,
.about-section-two.pull-up:before,
.about-section-two,
.feature-block .icon-box,
.call-to-action .image-column .inner-column .video-box .play-btn,
.feature-block-two .inner .icon-box,
.fact-counter-one,
.fact-counter-one:before,
.why-choose-us-four,
.video-section-two .video-column .video-box .play-btn,
.project-block-two .inner-box .content-box,
.team-block .info-box,
.team-block .share-icon,
.pricing-block-two .inner-box,
.services-section-five .services-column .services-list li .read-more {
  background-color: var(--dark-color1) !important;
}

.subscribe-form .form-group input[type=text],
.subscribe-form .form-group input[type=email],
.service-block-three .inner-box .image::before,
.service-block-four .inner-box .image::before {
  background: var(--dark-color1);
}

.about-section-five .image-column .exp-box:before {
  border-top-color: var(--dark-color1);
}

.bg-dark-light {
  background-color: var(--dark-color1);
  opacity: 0.9;
}

.bg-dark-2,
.header-style-one,
.header-top .inner-container,
.header-top,
.service-categories .outer-box,
.counter-block .icon:after,
.faqs-section .outer-box,
.feature-block .inner-box,
.about-section-three .content-column .text-box .info-box,
.header-style-two .header-lower .logo-box {
  background-color: var(--dark-color2) !important;
}

.service-block-four .inner-box .read-more:before {
  border-bottom-color: var(--dark-color2) !important;
}

.bg-dark-3,
.header-style-five,
.pricing-block .content-box,
.pricing-block-two .content-box {
  background-color: var(--dark-color3) !important;
}

.feature-block-home4 .inner-box {
  border-color: var(--dark-color3) !important;
}

.feature-block-four .inner-box .read-more:before {
  border-bottom-color: var(--dark-color3);
}

.bg-dark-4,
.video-section .video-column .video-box .play-btn,
.accordion-box .block,
.clients-section,
.news-block .content-box,
.about-section-two .content-column .text-box .info-box,
.testimonial-block-two .content-box,
.fun-fact-section .fact-counter,
.feature-block-three .inner-box,
.about-section-five.style-two .cta-box-three,
.team-section,
.pricing-block-two .title-box,
.feature-block-home4 .inner-box,
.about-block-two-home4 .inner,
.testimonial-section-five .testimonial-column .inner-column,
.feature-block-five .content-box,
.about-section-five .cta-box,
.projects-section-four,
.services-section-five .services-column .services-list li,
.feature-block-four .inner-box {
  background-color: var(--dark-color4) !important;
}

.feature-block-four .inner-box .image::before {
  background: var(--dark-color4);
}

.fun-fact-section .fact-counter,
.feature-block-three .inner-box {
  border: 1px solid var(--dark-color4);
}

.testimonial-block-five .inner-box:before {
  border-color: var(--dark-color4);
}

.btn-style-three,
.work-tabs .tab-buttons .tab-btn {
  background-color: #000;
}

.process-block .inner-box::before,
.service-block .inner-box {
  border-color: var(--dark-color1);
}

.sticky-header .mobile-nav-toggler,
.main-menu .navigation > li > a,
.main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li:hover > a,
strong,
.title a,
.sec-title h2,
.main-header .ui-btn,
.about-block .inner .title,
.counter-block .count-box,
.pricing-block .content-box .title-box .title,
.pricing-block .price,
.pricing-block .theme-btn,
.accordion-box .block .acc-btn,
.accordion-box .block .acc-btn.active,
.news-block .content-box .post-info li i,
.news-block .content-box .read-more i,
.main-header .info-btn small,
.services-section-two .bottom-text,
.about-section-two .content-column .text-box .info-box .txt,
.feature-block-two .inner .title,
.fact-counter-one .counter-title,
.fact-counter-one .count-box,
.testimonial-block-two .content-box .reason,
.service-block-three .inner-box .price-box .price,
.about-section-three .content-column .list-style-two li,
.about-section-three .content-column .text-box .info-box .txt,
.about-section-five.style-two .cta-box-three .info-box .text,
.team-block .info-box .name a,
.pricing-block-two .title-box .title,
.pricing-block-two .content-box .price,
.about-section-five .content-column .info-box .txt,
.service-block-four .inner-box .read-more,
.about-section-four .content-column .info-box .txt,
.about-section-home4 .content-column .sec-title .text-strong,
.about-block-two-home4 .inner .title,
.testimonial-block-five .rating-box .reason,
.testimonial-block-five .info-box .name,
.feature-block-five .content-box .price,
.services-section-five .content-column .info-box .title,
.services-section-five .services-column .services-list li .read-more,
.feature-block-four .inner-box .read-more {
  color: #fff;
}

.text-lights,
.social-icon-one li a,
.list-style-two li,
.list-style-two li i,
.pricing-block .features li,
.pricing-block-two .features li,
.cta-box .info-box .text {
  color: rgba(255, 255, 255, 0.6);
}

.bg-dark-text-light,
.btn-style-one,
.social-icon-one li a,
.accordion-box .block .acc-btn .icon,
.pricing-block-two .title-box .icon {
  background-color: #000000;
  color: #ffffff;
}

/*	Border Color */
.border-color,
.pricing-block .theme-btn,
.accordion-box .block,
.news-block .content-box .read-more,
.about-section .image-column .image-box .image-2 img,
.header-style-one .header-top .inner-container,
.about-section-two .image-column .image-box .image-2 img,
.feature-block .inner-box,
.about-section-four .image-column .image-box .image-2 {
  border-color: #2c2a2a;
}

.bg-border-color {
  background-color: #2c2a2a;
}

.header-style-two {
  background-color: unset;
}

.pricing-block-two .title-box,
.about-section-four {
  background-image: unset;
}

.bg-pattern-1 {
  background-image: url(../images/index.html);
}

.feature-block .inner-box:before,
.why-choose-us-four .bg-image:after,
.why-choose-us-four .bg-image,
.why-choose-us-four .bg-image:before,
.projects-section-three::before,
.bg-pattern-2,
.projects-section-four .left-image {
  opacity: 0.1;
}

.clients-carousel .slide-item img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.clients-section .slide-item a:hover {
  background-color: inherit;
}

.contact-form .form-group textarea {
  background-color: #0a090f;
}
.contact-form .form-group input:not([type=submit]) {
  background-color: #0a090f;
}