<!-- footer.html -->
{% load static %}

<!-- Main Footer -->
<footer class="main-footer home2-style">
    <div class="bg bg-image" style="background-image: url({{ footer_contact_info.background_image.url }});"></div>
    
    <!-- Footer Upper -->
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row">
                <!-- Logo Box -->
                <div class="logo-box col-md-4">
                    <div class="inner mb-xs-50">
                        <div class="logo">
                            <a href="">
                                <img src="{{ footer_logo.logo.url }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Contact Info Block -->
                <div class="contact-info-block col-md-4 col-sm-6">
                    <div class="inner">
                        <i class="icon lnr lnr-icon-phone-handset"></i>
                        <span class="sub-title">{{ footer_contact_info.phone_title }}</span>
                        <div class="text">
                            <a href="tel:{{ footer_contact_info.phone_number }}">{{ footer_contact_info.phone_number }}</a>
                        </div>
                    </div>
                </div>

                <!-- Contact Info Block -->
                <div class="contact-info-block col-md-4 col-sm-6">
                    <div class="inner">
                        <i class="icon lnr lnr-icon-envelope1"></i>
                        <span class="sub-title">{{ footer_contact_info.email_title }}</span>
                        <div class="text">
                            <a href="mailto:{{ footer_contact_info.email_address }}">{{ footer_contact_info.email_address }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Widgets Section -->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="row">
                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-6">
                    <div class="footer-widget about-widget">
                        <h6 class="widget-title">{{ footer_about.title }}</h6>
                        <div class="widget-content">
                            <div class="text">{{ footer_about.description }}</div>
                            <ul class="social-icon-two mt-4">
                                <li><a href="{{ footer_about.facebook_link }}"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="{{ footer_about.twitter_link }}"><i class="fa fa-x"></i></a></li>
                                <li><a href="{{ footer_about.linkedin_link }}"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="footer-column col-xl-4 col-lg-4 col-md-6 mb-0">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="widget links-widget">
                                <h6 class="widget-title">{{ footer_useful_links.title }}</h6>
                                <div class="widget-content">
                                    <ul class="user-links">
                                        {% for link in footer_useful_links.links %}
                                            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                                        {% endfor %}
                                    </ul>                                
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="widget links-widget">
                                <h6 class="widget-title">{{ footer_services.title }}</h6>
                                <div class="widget-content">
                                    <ul class="user-links">
                                        {% for link in footer_services.links %}
                                            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer Column -->
                <div class="footer-column col-lg-4 col-md-8">
                    <div class="widget newsletter-widget">
                        <h6 class="widget-title">{{ footer_newsletter.title }}</h6>
                        <div class="widget-content">
                            <div class="text">{{ footer_newsletter.description }}</div>
                            <div class="subscribe-form">
                                <form method="post" action="#">
                                    <div class="form-group">
                                        <input type="email" name="email" class="email" value="" placeholder="{{ footer_newsletter.placeholder_text }}" required="">
                                        <button type="button" class="theme-btn btn-style-one"><i class="far fa-paper-plane"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright-text">© {{ footer_copyright.text }} <a href="{{ footer_copyright.link }}"></a></div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->