{% load static %}

<!-- Main Header-->
<header class="main-header header-style-one">
    <!-- Header Top -->
    <div class="header-top">
        <div class="inner-container">
            <div class="top-left">
                <!-- Info List -->
                <ul class="list-style-one">
                    <li><i class="fa fa-map-marker-alt"></i> {{ header_top_info.address }}</li>
                    <li><i class="far fa-clock"></i> {{ header_top_info.working_hours }}</li>
                    <li><i class="fa fa-envelope"></i> <a href="mailto:{{ header_top_info.email }}"><span>Mail</span></a></li>
                </ul>
            </div>
    
            <div class="top-right">
                <ul class="social-icon-one">
                    <li><a href="{{ header_social_links.twitter_link }}"><span class="fa fa-x"></span></a></li>
                    <li><a href="{{ header_social_links.facebook_link }}"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="{{ header_social_links.pinterest_link }}"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="{{ header_social_links.instagram_link }}"><span class="fab fa-instagram"></span></a></li>
                </ul>
                <ul class="useful-links">
                    <li><a href="{{ header_useful_links.privacy_policy_link }}">Privacy & Policy</a></li>
                    <li><a href="{{ header_useful_links.faq_link }}">FAQ’S</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Header Top -->
      
    <div class="header-lower">
        <!-- Main box -->
        <div class="main-box">
            <div class="logo-box">
                <a href="{% url 'home' %}">
                    <img src="{{ header_logo.logo.url }}" alt="{{ header_logo.logo_alt_text }}" title="{{ header_logo.logo_alt_text }}">
                </a>
            </div>

            <!--Nav Box-->
            <div class="nav-outer">    
                <nav class="nav main-menu">
                    <ul class="navigation">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about_page' %}">About</a></li>
                        <li><a href="{% url 'services_page' %}">Services</a></li>
                        <li><a href="{% url 'contact_page' %}">Contact</a></li>
                    </ul>
                </nav>
                <!-- Main Menu End-->
            </div>

            <div class="outer-box">                    
                <a href="tel:{{ header_contact_info.phone_number }}" class="info-btn">
                    <i class="icon fa fa-headphones"></i>
                    <small>Call Us Now</small>
                    {{ header_contact_info.phone_number }}
                </a>

                <span class="divider"></span>
                
                <!-- Header Search -->
                <button class="ui-btn mx-0 search-btn">
                    <i class="icon lnr lnr-icon-search"></i>
                </button>
                
                <!-- Mobile Nav toggler -->
                <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
            </div>
        </div>
    </div>

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
    
        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
        <nav class="menu-box">
            <div class="upper-box">
                <div class="nav-logo"><a href="{% url 'home' %}" ><img src="{{ header_logo.logo.url }}" alt="{{ header_logo.logo_alt_text }}"></a></div>
                <div class="close-btn"><i class="icon fa fa-times"></i></div>
            </div>
    
            <ul class="navigation clearfix">
                <!--Keep This Empty / Menu will come through Javascript-->
            </ul>
            <ul class="contact-list-one">
                <li>
                    <!-- Contact Info Box -->
                    <div class="contact-info-box">
                        <i class="icon lnr-icon-phone-handset"></i>
                        <span class="title">Call Now</span>
                        <a href="tel:{{ header_contact_info.phone_number }}">{{ header_contact_info.phone_number }}</a>
                    </div>
                </li>
                <li>
                    <!-- Contact Info Box -->
                    <div class="contact-info-box">
                        <span class="icon lnr-icon-envelope1"></span>
                        <span class="title">Send Email</span>
                        <a href="mailto:{{ header_contact_info.email }}">{{ header_contact_info.email }}</a>
                    </div>
                </li>
                <li>
                    <!-- Contact Info Box -->
                    <div class="contact-info-box">
                        <span class="icon lnr-icon-clock"></span>
                        <span class="title">Working Hours</span>
                        {{ header_contact_info.working_hours }}
                    </div>
                </li>
            </ul>
    
            <ul class="social-links">
                <li><a href="{{ header_social_links.twitter_link }}"><i class="fa fa-x"></i></a></li>
                <li><a href="{{ header_social_links.facebook_link }}"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="{{ header_social_links.pinterest_link }}"><i class="fab fa-pinterest"></i></a></li>
                <li><a href="{{ header_social_links.instagram_link }}"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </nav>
    </div><!-- End Mobile Menu -->

    <!-- Header Search -->
    <div class="search-popup">
        <span class="search-back-drop"></span>
        <button class="close-search"><span class="fa fa-times"></span></button>
    
        <div class="search-inner">
            <form method="post" action="">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search..." required="">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Header Search -->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="inner-container">
                <!--Logo-->
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{{ header_logo.logo.url }}" alt="{{ header_logo.logo_alt_text }}" title="{{ header_logo.logo_alt_text }}">
                    </a>
                </div>
    
                <!--Right Col-->
                <div class="nav-outer">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-collapse show collapse clearfix">
                            <ul class="navigation clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
    
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                </div>
            </div>
        </div>
    </div><!-- End Sticky Menu -->
</header>
<!--End Main Header -->