<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Logifix | Logistic & Transport HTML Template | Home Page 02</title>
<!-- Stylesheets -->

{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
	
	<!-- Preloader -->
	<div class="preloader"></div>
	
	{% include 'includes/header.html' %}

	
	<!-- Banner Section Two -->
	<section class="banner-section-two">
		<div class="bg bg-image" style="background-image: url({% static 'images/main-slider/banner2-1.jpg' %});"></div>
		<div class="bg bg-overlay"></div>
		<div class="auto-container">
			<div class="content-box">
				<div class="badge-style-one wow fadeInLeft" data-wow-delay="600ms">
					<div class="counter-block-two">
						<div class="inner">
							<div class="content">
								<div class="counter-title">TRUSTED BY</div>
								<div class="count-box"><span class="count-text" data-speed="1000" data-stop="10">0</span>K<span class="count-text-plus">+</span></div>
							</div>
						</div>
					</div>
					<div class="txt">Fast and Reliable <br />Shipping</div>
				</div>
				<h1 class="title wow fadeInLeft" data-wow-delay="900ms">Transport <br />Solution 24/7</h1>
				<div class="text wow fadeInLeft" data-wow-delay="1200ms">We strongly support best practice sharing across our <br />operations around the world and across various</div>
				<div class="btn-box wow fadeInLeft" data-wow-delay="1500ms">
					<a href="{% url 'about_page' %}" class="theme-btn btn-style-two"><span class="btn-title">Request A Quote <i class="fa fa-arrow-right"></i></span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Section Two -->

	<!-- Services Section Two -->
	<section class="services-section-two pull-up">
		<div class="auto-container">
			<div class="outer-box">
				<div class="row">
					<!-- Service Block-->
					<div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
						<div class="inner-box">
							<div class="image-box service-block-two-images">
								<figure class="image">
									<img src="{% static 'images/resource/service2-1.jpg'%}" alt="">
									<img src="{% static 'images/resource/service2-1.jpg'%}" alt="">
								</figure>
								<div class="icon"><i class="flaticon-team"></i></div>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="page-service-details.html">Safety and Reliability</a></h4>
								<ul class="services-list">
									<li><i class="fa fa-sparkles"></i> Worldwide service</li>
									<li><i class="fa fa-sparkles"></i> 24/7 Support</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Service Block-->
					<div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
						<div class="inner-box">
							<div class="image-box service-block-two-images">
								<figure class="image">
									<img src="{% static 'images/resource/service2-2.jpg'%}" alt="">
									<img src="{% static 'images/resource/service2-2.jpg'%}" alt="">
								</figure>
								<div class="icon"><i class="flaticon-delivery-insurance-3"></i></div>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="page-service-details.html">Reduced Transit Time</a></h4>
								<ul class="services-list">
									<li><i class="fa fa-sparkles"></i> Worldwide service</li>
									<li><i class="fa fa-sparkles"></i> 24/7 Support</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- Service Block-->
					<div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
						<div class="inner-box">
							<div class="image-box service-block-two-images">
								<figure class="image">
									<img src="{% static 'images/resource/service2-3.jpg'%}" alt="">
									<img src="{% static 'images/resource/service2-3.jpg'%}" alt="">
								</figure>
								<div class="icon"><i class="flaticon-logistics-2"></i></div>
							</div>
							<div class="content-box">
								<h4 class="title"><a href="page-service-details.html">Shipping Worldwide</a></h4>
								<ul class="services-list">
									<li><i class="fa fa-sparkles"></i> Worldwide service</li>
									<li><i class="fa fa-sparkles"></i> 24/7 Support</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="bottom-text text-center">2.6k Companies & Individuals Trusted Us. for our service <a href="{% url 'services_page' %}">All Services</a></div>
		</div>
	</section>
	<!--End Services Two Section -->

	<!-- About Section -->
	<section class="about-section-two pull-up">
		<div class="auto-container">
			<div class="row">
				<!-- Content Column -->
				<div class="content-column col-xl-7 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Who we are</span>
							<h2>We Provide Full Range Logistics Solution</h2>
							<div class="text">Our operations around the world and across various transporation sectors.</div>
						</div>

						<div class="text-box">
							<div class="info-box">
								<i class="icon flaticon-global-2"></i>
								<h6 class="txt">25+ Years of Experience</h6>
							</div>                            
							<div class="text">With over four decades of experience providing solutions to large-scale enterprises throughout the globe we offer end-to-end logistics.</div>
						</div>

						<ul class="list-style-two">
							<li><i class="far fa-check-circle"></i> With over four decades of experience</li>
							<li><i class="far fa-check-circle"></i> Every pleasure is to be welcomed and every pain</li>
							<li><i class="far fa-check-circle"></i> Velit esse cillum dolore eu fugiat nulla pariatur</li>
						</ul>
						<div class="btn-box">
							<a href="{% url 'about_page' %}" class="theme-btn btn-style-two"><span class="btn-title">Get Started Now <i class="fa fa-long-arrow-right"></i></span></a>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-xl-5 col-lg-5 col-md-12 col-sm-12 wow fadeInLeft">
					<div class="image-box">
						<figure class="image wow fadeIn"><img src="{% static 'images/resource/about2-1.jpg'%}" alt=""></figure>
						<figure class="image-2 overlay-anim reveal"><img src="{% static 'images/resource/about2-2.jpg'%}" alt="Image"></figure>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->

	<!-- Why Choose Us Two -->
	{% with why_choose=why_choose_us %}
	<section class="why-choose-us-two">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">{{ why_choose.subtitle }}</span>
				<h2>{{ why_choose.title }}</h2>
			</div>
			<div class="row">
				<!-- Feature Block -->
				{% for feature in features %}
				<div class="feature-block col-lg-3 col-sm-6 wow fadeInUp" {% if not forloop.first %} data-wow-delay="{% widthratio forloop.counter 1 200 %}ms"{% endif %}>
					<div class="inner-box">
						<div class="icon-box"><i class="{{ feature.icon_class }}"></i></div>
						<h4 class="title"><a href="{% url 'services_page' %}">{{ feature.title|safe }}</a></h4>
					</div>
				</div>
				{% endfor %}
				<!-- Info Banner -->
				<div class="info-banner col-lg-6 col-md-12 col-sm-12 wow fadeInRight"  data-wow-delay="400ms">
					<div class="content-box">
						<figure class="image"><img src="{{ why_choose.promo_image.url }}" alt=""></figure>
						<h4 class="title">{{ why_choose.promo_title }}</h4>
						<div class="price">Starting From <span class="color6">${{ why_choose.starting_price }}</span> / <small>kg</small></div>
						<div class="btn-box animate-2">
							<a href="{% url 'contact_page' %}" class="theme-btn btn-style-two"><span class="btn-title">Get Started Now <i class="fa fa-arrow-right"></i></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endwith %}
	<!-- End Why Choose Us Two -->

	<!-- Call To Action -->
	<section class="call-to-action">
		<div class="auto-container">
			<div class="outer-box wow fadeInUp">
				<div class="bg bg-image" style="background-image: url({% static 'images/background/bg1.jpg' %})"></div>
				<div class="bg-image-curve"></div>
				<div class="row">
					<!-- Content Column -->
					<div class="content-column col-lg-6 col-md-12">
						<div class="inner-column">
							<div class="sec-title light">
								<h2>Logistics & Cargo <br class="d-none d-xl-block" />For Business</h2>
							</div>
							<div class="info-box">
								<a href="{% url 'contact_page' %}" class="theme-btn btn-style-two dark-bg hover-light btn-lg"><span class="btn-title">Get Started Now <i class="fa fa-arrow-right"></i></span></a>
							</div>
						</div>
					</div>

					<!-- Image Column -->
					<div class="image-column col-lg-4 col-md-12">
						<div class="inner-column">
							<figure class="image"><img src="{% static 'images/resource/man-1.png' %}" alt=""></figure>
							<div class="video-box">
								<a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="play-btn" data-fancybox="" data-caption=""><i class="fa fa-play" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Call To Action -->

	<!-- Project Section -->
	<section class="projects-section-two pb-0">
		
		<div class="bg bg-pattern-5"></div>
		<div class="auto-container">
			
			<div class="sec-title light">
				
				<div class="row align-items-end">
					{% include 'includes/faq.html' %}
				</div>
			</div>
		</div>
	</section>
    <!-- End Project Section -->

	<!-- Clients Section -->
    {% include 'includes/slider.html' %}
    <!--End Clients Section -->

    <!-- Why Choose Us Three -->
	<section class="why-choose-us-three">
		<div class="bg bg-image" style="background-image: url({% static 'images/icons/shape-1.png' %});"></div>
		<div class="auto-container">
			<div class="row">
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 order-2 wow fadeInRight">
					<div class="inner-colmun">
						<div class="sec-title">
							<span class="sub-title">WHY CHOOSE US</span>
							<h2>We create opportunity to reach potential</h2>
							<div class="text">There are many variations of passages of available but majority have suffered alteration in some form, by humou or randomised words which don't look even slightly believable.</div>
						</div>
						<div class="feature-block-two">
							<div class="inner">
								<div class="icon-box"><i class="icon flaticon-delivery-insurance-1"></i></div>
								<h6 class="title">Safety and Reliability</h6>
								<p class="text">Aenean placerat ut lacus nec pulvinar. Donce eu leo ante at commodo diam dolor sit amet</p>
							</div>
						</div>
						<div class="feature-block-two">
							<div class="inner">
								<div class="icon-box"><i class="icon flaticon-logistics-6"></i></div>
								<h6 class="title">Shipping Worldwide</h6>
								<p class="text">Aenean placerat ut lacus nec pulvinar. Donce eu leo ante at commodo diam dolor sit amet</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-lg-5 wow fadeInLeft">
					<div class="image-box">
						<figure class="image"><img src="{% static 'images/resource/why-choose3-1.png' %}" alt=""></figure>
						<div class="badge"><img src="{% static 'images/icons/badge.png' %}" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Why Choose Us Three -->

	<!-- Offer Section -->
	<section class="offer-section">
		<div class="auto-container">
			<div class="row">
				<!-- Content Column -->
				<div class="content-column col-lg-5 col-md-12">
					<div class="inner-column">
						<div class="sec-title light">
							<span class="sub-title">SPECIAL LOGISTICS</span>
							<h2>Best services for Businesses</h2>
							<div class="text">There are many variations of passages of Lorem Ipsum available, but the majority have readable content suffered alteration in some form</div>
						</div>
						<ul class="list-style-two">
							<li><i class="fa fa-plane"></i> Urgent transport solutions</li>
							<li><i class="fa fa-plane"></i> Top quality services with reasonable price</li>
							<li><i class="fa fa-plane"></i> Reliable & experienced staffs</li>
						</ul>
						<a href="{% url 'services_page' %}" class="theme-btn btn-style-two theme2-bg hover-light"><span class="btn-title">Explore More <i class="fa fa-arrow-right"></i></span></a>
					</div>
				</div>

				<!-- Content Column -->
				<div class="image-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image-box">
							<figure class="image"><img src="{% static 'images/resource/offer-img-1.jpg'%}" alt="" /></figure>
							<div class="fact-counter-one bounce-y">
								<h4 class="counter-title">Trusted by</h4>
								<div class="count-box"><span class="count-text" data-speed="3000" data-stop="4890">0</span></div>
							</div>
							<div class="caption-box wow fadeIn">
								<div class="inner">
									<i class="icon flaticon-logistics-2"></i>
									<h4 class="title">Moving Your Products <br />accross border</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Offer Section -->


	{% include 'includes/footer.html' %}


</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>

</html>


