<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <title> {{ site_settings.title }} | {{ header_top_info.about_page }}</title>
    <meta name="keywords" content="{{ site_settings.meta_keywords }}">
    <meta name="description" content="{{ site_settings.description }}">
	<!-- Stylesheets -->
	{% load static %}
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	
	<link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
    <link rel="icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
	
	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
	</head>

<body>
<div class="page-wrapper">
    <div class="preloader"><span class="loader"></span></div>
    
    {% include 'includes/header.html' %}

    <!-- Start main-content -->
    {% with hero=about_hero %}
    <section class="page-title" style="background-image: url({{ hero.background_image.url }});">
        <div class="auto-container">
            <div class="title-outer text-center">
                <h1 class="title">{{ hero.title }}</h1>
                <ul class="page-breadcrumb">
                    <li><a href="{% url 'home' %}">{{ header_top_info.home_page }}</a></li>
                    <li>{{ header_top_info.about_page }}</li>
                </ul>
            </div>
        </div>
    </section>
    {% endwith %}

    <!-- About Section -->
    {% with about=about_section %}
    <section class="about-section-three">
        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-5 order-2 wow fadeInRight">
                    <div class="inner-column">
                        <div class="sec-title style-three">
                            <span class="sub-title">{{ about.subtitle }}</span>
                            <h2>{{ about.title }}</h2>
                            <div class="text">{{ about.description }}</div>
                        </div>

                        <div class="text-box">
                            <div class="info-box">
                                <i class="icon flaticon-global-1"></i>
                                <div class="txt">{{ about.years_experience }}+ Years <br />of Experience</div>
                            </div>
                            <ul class="list-style-two">
                                {% for service in services %}
                                <li><i class="fas fa-star-christmas"></i> {{ service.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="btn-box">
                            <a href="{% url 'services_page' %}" class="theme-btn btn-style-two">
                                <span class="btn-title"> {{ about.button_text }} <i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="image-column col-lg-7 wow fadeInLeft">
                    <div class="image-box">
                        <figure class="image-1 overlay-anim wow fadeIn">
                            <img src="{{ about.image_1.url }}" alt="">
                        </figure>
                        <figure class="image-2 overlay-anim wow fadeIn">
                            <img src="{{ about.image_2.url }}" alt="">
                        </figure>
                        <div class="exp-box">
                            <figure class="image-3 wow fadeIn">
                                <img src="{{ about.logo_image.url }}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endwith %}

    <!-- Fun Fact Section-->
    {% with counter=about_counter %}
    <section class="fun-fact-section">
        <div class="auto-container">
            <div class="fact-counter">
                <div class="row">
                    <div class="counter-block col-lg-4 col-sm-6 wow fadeInUp">
                        <div class="inner">
                            <div class="content">
                                <i class="icon flaticon-delivery-box-4"></i>
                                <div class="count-box">
                                    <span class="count-text" data-speed="3000" data-stop="{{ counter.distribution_centers }}">0</span>+
                                </div>
                                <h6 class="counter-title">{{ counter.counter_title_1 }}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="counter-block col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="300ms">
                        <div class="inner">
                            <div class="content">
                                <i class="icon flaticon-container"></i>
                                <div class="count-box">
                                    <span class="count-text" data-speed="3000" data-stop="{{ counter.years_experience }}">0</span>+
                                </div>
                                <h6 class="counter-title">{{ counter.counter_title_2 }}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="counter-block col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="600ms">
                        <div class="inner">
                            <div class="content">
                                <i class="icon flaticon-logistic"></i>
                                <div class="count-box">
                                    <span class="count-text" data-speed="3000" data-stop="{{ counter.countries_regions }}">0</span>+
                                </div>
                                <h6 class="counter-title">{{ counter.counter_title_3 }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endwith %}


    {% include 'includes/slider.html' %}

    <!-- Why Choose Us Section -->
    {% with why_choose=why_choose_us %}
    <section class="why-choose-us-four pull-up">
        <div class="bg bg-image" style="background-image: url({{ why_choose.background_image.url }})"></div>
        <div class="auto-container">
            <div class="sec-title text-center style-three">
                <span class="sub-title">{{ why_choose.subtitle }}</span>
                <h2>{{ why_choose.title }}</h2>
            </div>
            <div class="row">
				{% for feature in features %}
				<div class="feature-block-three col-lg-3 col-sm-6 wow fadeInUp"{% if not forloop.first %} data-wow-delay="{% widthratio forloop.counter 1 200 %}ms"{% endif %}>
					<div class="inner-box">
						<div class="icon-box"><i class="{{ feature.icon_class }}"></i></div>
						<div class="title-box">
							<h4 class="title"><a href="{% url 'services_page' %}">{{ feature.title|safe }}</a></h4>
						</div>
					</div>
				</div>
				{% endfor %}
                <div class="info-banner col-lg-6 col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="400ms">
                    <div class="content-box">
                        <figure class="image"><img src="{{ why_choose.promo_image.url }}" alt=""></figure>
                        <h4 class="title">{{ why_choose.promo_title }}</h4>
                        <div class="price">Starting From <strong class="color6">${{ why_choose.starting_price }}</strong> / <small>{{ why_choose.price_unit }}</small></div>
                        <div class="btn-box animate-2">
                            <a href="{% url 'contact_page' %}" class="theme-btn btn-style-two">
                                <span class="btn-title">{{ why_choose.button_text }}<i class="fa fa-arrow-right"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endwith %}

    {% include 'includes/footer.html' %}
</div>

<!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>