<!-- page-services.html -->
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title> {{ site_settings.title }} | {{ header_top_info.services_page }}</title>
<meta name="keywords" content="{{ site_settings.meta_keywords }}">
<meta name="description" content="{{ site_settings.description }}">

<!-- Stylesheets -->
{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

<link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
<link rel="icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><span class="loader"></span></div>
    
    {% include 'includes/header.html' %}

	<!-- Start main-content -->
	<section class="page-title" style="background-image: url({{ service.services_background_image.url }});">
		<div class="auto-container">
			<div class="title-outer text-center">
				<h1 class="title">{{ service.services_page_title }}</h1>
				<ul class="page-breadcrumb">
					<li><a href="{% url 'home' %}">{{ header_top_info.home_page }}</a></li>
					<li>{{ header_top_info.services_page }}</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->

    <!-- Services Section -->
	<section class="services-section pb-90">
		<div class="auto-container">
			<div class="row">
				{% for service in services %}
				<div class="service-block-two col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="{{ forloop.counter|add:"0" }}00ms">
					<div class="inner-box">
						<div class="image-box service-block-two-images">
							<figure class="image">
								<img style="width: 100%" src="{{ service.image.url }}" alt="{{ service.title }}">
								<img style="width: 100%" src="{{ service.image.url }}" alt="{{ service.title }}">
							</figure>
							<div class="icon"><i class="{{ service.icon_class }}"></i></div>
						</div>
						<div class="content-box">
							<h4 class="title">
								{% if service.slug %}
									<a href="{% url 'service_detail' service.slug %}">{{ service.title }}</a>
								{% else %}
									{{ service.title }}  <!-- Display title without link if no slug -->
								{% endif %}
							</h4>
							<ul class="services-list">
								<li><i class="fa fa-sparkles"></i> {{ service.text_1 }}</li>
								<li><i class="fa fa-sparkles"></i> {{ service.text_2 }}</li>
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
    <!-- End services-section -->

    {% include 'includes/footer.html' %}

</div>
<!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>