{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> {{ site_settings.title }} | {{ header_top_info.contact_page }}</title>
    <meta name="keywords" content="{{ site_settings.meta_keywords }}">
    <meta name="description" content="{{ site_settings.description }}">

    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
    <link rel="icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
    
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"><span class="loader"></span></div>
    
    {% include 'includes/header.html' %}

    <!-- Start main-content -->
    <section class="page-title" style="background-image: url({% if contact_page.hero_background_image %}{{ contact_page.hero_background_image.url }}{% else %}{% static 'images/background/page-title.jpg' %}{% endif %});">
        <div class="auto-container">
            <div class="title-outer text-center">
                <h1 class="title">{{ contact_page.hero_title }}</h1>
                <ul class="page-breadcrumb">
                    <li><a href="{% url 'home' %}">{{ header_top_info.home_page }}</a></li>
                    <li>{{ header_top_info.contact_page }}</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- end main-content -->

    <!--Contact Details Start-->
    <section class="contact-details">
        <div class="container pb-70">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <div class="sec-title">
                        <span class="sub-title">{{ contact_page.form_subtitle }}</span>
                        <h2>{{ contact_page.form_title }}</h2>
                    </div>
                    <!-- Contact Form -->
                    <form id="contact_form" name="contact_form" class="" action="{% url 'contact_page' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input name="form_name" class="form-control" type="text" placeholder="Enter Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input name="form_email" class="form-control required email" type="email" placeholder="Enter Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input name="form_subject" class="form-control required" type="text" placeholder="Enter Subject">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <input name="form_phone" class="form-control" type="text" placeholder="Enter Phone">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <textarea name="form_message" class="form-control required" rows="7" placeholder="Enter Message"></textarea>
                        </div>
                        <div class="mb-5">
                            <button type="submit" class="theme-btn btn-style-one" data-loading-text="Please wait..."><span class="btn-title">Send message</span></button>
                            <button type="reset" class="theme-btn btn-style-one ml-25"><span class="btn-title">Reset</span></button>
                        </div>
                    </form>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="contact-details__right">
                        <div class="sec-title">
                            <span class="sub-title">{{ contact_page.contact_info_subtitle }}</span>
                            <h2>{{ contact_page.contact_info_title }}</h2>
                            <div class="text">{{ contact_page.contact_info_description }}</div>
                        </div>
                        <ul class="list-unstyled contact-details__info">
                            <li>
                                <div class="icon">
                                    <span class="lnr-icon-phone-plus"></span>
                                </div>
                                <div class="text">
                                    <h6 class="mb-1">{{ contact_page.phone_title }}</h6>
                                    <a href="tel:{{ contact_page.phone_number }}">{{ contact_page.phone_number }}</a>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="lnr-icon-envelope1"></span>
                                </div>
                                <div class="text">
                                    <h6 class="mb-1">{{ contact_page.email_title }}</h6>
                                    <a href="mailto:{{ contact_page.email_address }}">{{ contact_page.email_address }}</a>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="lnr-icon-location"></span>
                                </div>
                                <div class="text">
                                    <h6 class="mb-1">{{ contact_page.address_title }}</h6>
                                    <span>{{ contact_page.address }}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Contact Details End-->

    <!-- Map Section-->
    <section class="map-section py-0">
        <iframe class="map w-100" src="{{ contact_page.google_map_embed_url }}"></iframe>
    </section>
    <!--End Map Section-->

    {% include 'includes/footer.html' %}

</div>
<!-- End Page Wrapper -->

<!-- Scripts -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<!-- Form validation -->
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/jquery.form.min.js' %}"></script>
<script>
    (function($) {
        $("#contact_form").validate({
            submitHandler: function(form) {
                var form_btn = $(form).find('button[type="submit"]');
                var form_result_div = '#form-result';
                $(form_result_div).remove();
                form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                var form_btn_old_msg = form_btn.html();
                form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                $(form).ajaxSubmit({
                    dataType:  'json',
                    success: function(data) {
                        if( data.status == 'true' ) {
                            $(form).find('.form-control').val('');
                        }
                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                        $(form_result_div).html(data.message).fadeIn('slow');
                        setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                    }
                });
            }
        });
    })(jQuery);
</script>
</body>
</html>